body, html {
    height: 100%;
    background: #f0f0f1;
    color: #3c434a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 13px;
    line-height: 1.4em;
    min-width: 600px;
}

div.wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    column-gap: 10px;
    margin-left: 10px;
}


div.wrap > h3 {
    display: inline-block;
    margin: 30px;
}

.wrap > div.content {
    width: 90%;
}

div.wrap > table {
    margin: 30px;
    padding: 30px;
}

div.wrap > .recent-posts {
    width: 500px;
}

div.wrap > .scoreboard {
    display: flex;
    flex-direction: row;
    column-gap: 29px;
    align-items: center;
    justify-content: center;
}

.scoreboard > .well {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    align-items: center;
    justify-content: center;
}

div.wrap > input {
    flex-grow: 1;
    padding: 10px;
}

div.wrap > span.regular-text {
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.content-editor > .wrap > .button-row {
    margin-left: 0;
}

div.view > div.wrap > .button-row, .description, .content {
    margin-left: 30px;
}

.button-row {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    /*padding: 10px;*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center
}

.content-editor > .wrap > .button-row {
    margin-top: 10px;
    margin-left: 30px;
    padding: 0;
}

.button {
    color: white;
    background: black;
    align-items: center;
    padding: 12px;
}

div.admin {
    height: 100vh;
    margin: 0 auto;
}


div.body {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.editor-wrap > .content-editor > .wrap > .regular-text, textarea, span, input, .tox {
    margin-left: 30px;
}

.editor-wrap > .content-editor > .wrap > .button-row > input {
    margin-left: 0;
}

.content-editor > .wrap > .button-row > input.no-margin {
    margin: 0px;
}

div.wrap > h3, .description {
    margin-left: 60px;
}

.label-description {
    margin-top: 10px;
}

div.wrap > .content {
    margin-left: 60px;
}

.form-table {
    margin: 0;
}

td > input, textarea {
    margin: 0;
}

div.body > div.panel {
    height: 100vh;
    flex-direction: column;
    flex-grow: 8;
}

div.body > div.view {
    flex: 86;
    padding: 10px;
}

div.body > div.panel > div.side-menu {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: -120px;
    z-index: 1;
    width: 160px;
    background-color: #1d2327;
}

.body > .panel > .side-menu > .menu-item {
    display: flex;
    flex-direction: column;
    color: #f0f0f1;
}

.body > .panel > .side-menu > .menu-item > .menu-title {
    margin: 10px;
    padding: 10px;
}

.recent-posts {
    margin-left: 60px;
}

.body > .panel > .side-menu > .menu-item > .title {
    margin: 10px;
    font-size: 25px;
    color: #f0f0f1;
}


.body > .panel > .side-menu > .menu-item > .sub-menu {
    display: flex;
    align-items: stretch;
    margin-left: 25px;
    padding: 5px;
    height: 30px;
}

.sub-menu > a {
    color: white;
    width: 100%;
    height: 30px;
    text-decoration: none;
}

.sub-menu > a:hover {
    color: black;
}

.sub-menu:hover {
    background: white;
    color: black;
}

.menu-title {
    color: #f0f0f1;
    width: 100%;
    height: 30px;
}

.menu-title > a {
    color: #f0f0f1;
    text-decoration: none;
}

.menu-title > a:hover {
    color: black;
    text-decoration: none;
}

.menu-title:hover {
    color: black;
    background: #f0f0f1;
}

.body.panel.side-menu.menu-item.menu-title {
    font-size: 15px;
}

div.body > div.body {
    display: flex;
    flex: 2;
}

.editor-wrap {
    display: flex;
    flex-direction: row;
}

.editor-wrap > .content-editor {
    width: 70%;
}

.content-editor > .tox {
    width: 100%;
}

.editor-wrap > .content-options {
    width: 30%;
    max-width: 15%;
    height: 300px;
    padding: 20px;
    margin-top: 120px;
}

.regular-text {
    width: 25em;
}

td > input + label{
    padding: 10px;
}


.form-table {
    border-collapse: collapse;
    margin-top: 0.5em;
    width: 100%;
    clear: both;
}


.form-table,
.form-table td,
.form-table th,
.form-table td p {
    font-size: 14px;
}

.form-table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.form-table th,
.form-wrap label {
    color: #1d2327;
    font-weight: 400;
    text-shadow: none;
    vertical-align: baseline;
}

.form-table th {
    vertical-align: top;
    text-align: left;
    padding: 20px 10px 20px 0;
    width: 200px;
    line-height: 1.3;
    font-weight: 600;
}

.form-table th.th-full, /* Not used by core. Back-compat for pre-4.8 */
.form-table .td-full {
    width: auto;
    padding: 20px 10px 20px 0;
    font-weight: 400;
}

.form-table td p {
    margin-top: 4px;
    margin-bottom: 0;
}

.form-table .date-time-doc {
    margin-top: 1em;
}

.form-table p.timezone-info {
    margin: 1em 0;
}

.form-table td fieldset label {
    margin: 0.35em 0 0.5em !important;
    display: inline-block;
}

.form-table td fieldset p label {
    margin-top: 0 !important;
}

.form-table td fieldset label,
.form-table td fieldset p,
.form-table td fieldset li {
    line-height: 1.4;
}

.form-table input.tog,
.form-table input[type="radio"] {
    margin-top: -4px;
    margin-right: 4px;
    float: none;
}

.form-table .pre {
    padding: 8px;
    margin: 0;
    table-layout: fixed;
}

table.form-table td .updated {
    font-size: 13px;
}

table.form-table td .updated p {
    font-size: 13px;
    margin: 0.3em 0;
}


table.dataTable > tbody > :nth-child(odd),
ul > :nth-child(odd) {
    background-color: #f6f7f7;
}

table.dataTable > tbody > :nth-child(even),
ul > :nth-child(even) {
    /*background-color: green;*/
}

table.dataTable > tbody {
    /*border-bottom: 1px solid #111;*/
    border: 1px solid white;

}
