<?xml version="1.0" encoding="utf-8"?>

<bundles version="1.0">
    <styleBundle path="~/Content/css">
        <include path="~/Content/bootstrap.css" />
        <include path="~/Content/DataTables/dataTables.bootstrap.css" />
        <include path="~/Content/Site.css" />
    </styleBundle>

    <styleBundle path="~/Content/Dashboard/css">
        <include path="~/Content/bootstrap.css" />
        <include path="~/Content/DataTables/css/jquery.dataTables.css" />
        <include path="~/Content/Dashboard/css/admin.css" />
    </styleBundle>
</bundles>